a:-webkit-any-link {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    padding: 15px 70px;
    position: relative;
    background-color: #fff;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 45px;
}

.nav-logo p {
    color: #171717;
    font-size: 28px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: #626262;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-login-cart button {
    width: 130px;
    height: 45px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-login-cart img {
    width: 35px;
}

.nav-cart-count {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: red;
    color: white;
    margin-top: -30px;
    margin-left: -40px;
}

.nav-dropdown {
    display: none;
}

.nav-submenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 200px;
}

.nav-submenu li {
    padding: 10px 20px;
    white-space: nowrap;
}

.nav-submenu li:hover {
    background-color: #f3f3f3;
}

.nav-menu>li:hover .nav-submenu {
    display: block;
}


.header-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px -2px black;
    z-index: 1000;
}

.header-static {
    position: static;
    width: 100%;
    background: #fff;
    box-shadow: none;
}

@media (max-width: 750px) {
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        position: absolute;
        background-color: white;
        width: 100%;
        top: 60px;
        left: 0;
        box-shadow: none;
        gap: 15px;
    }

    .nav-menu-visible {
        display: flex;
    }

    .nav-dropdown {
        display: block;
        width: 30px;
        transition: 0.5s;
    }

    .nav-dropdown.open {
        transform: rotate(90deg);
    }

    .nav-cart-count {
        margin-left: -25px;
    }
}

@media (max-width: 500px) {
    .navbar {
        padding: 15px 15px;
    }

    .nav-logo img {
        width: 30px;
    }

    .nav-logo p {
        font-size: 18px;
    }

    .nav-menu-visible {
        height: 70px;
        top: 60px;
    }

    .nav-login-cart {
        transform: scale(0.8);
        gap: 10px;
    }
}